USE [master]
GO
/****** Object:  Database [Quanlicudan]    Script Date: 5/20/2023 12:58:26 AM ******/
CREATE DATABASE [Quanlicudan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Quanlicudan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Quanlicudan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Quanlicudan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Quanlicudan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Quanlicudan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Quanlicudan]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 5/20/2023 12:58:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[Id] [char](10) NULL,
	[Username] [nchar](50) NULL,
	[Password] [nchar](20) NULL,
	[Ten] [nchar](100) NULL,
	[Namsinh] [char](10) NULL,
	[Gioitinh] [nchar](10) NULL,
	[Roles] [int] NULL,
	[Madiaban] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChitietHoGD]    Script Date: 5/20/2023 12:58:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChitietHoGD](
	[Id] [int] NOT NULL,
	[MaHK] [char](4) NOT NULL,
	[Hoten] [nchar](100) NULL,
	[Gioitinh] [nchar](5) NULL,
	[CCCD] [nchar](10) NULL,
	[SDT] [nchar](10) NULL,
	[Ngaysinh] [date] NULL,
	[QuanheCH] [nchar](30) NULL,
	[TTHonnhan] [int] NULL,
	[username] [nchar](50) NULL,
	[password] [nchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chuho]    Script Date: 5/20/2023 12:58:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chuho](
	[MaHK] [char](4) NOT NULL,
	[TenCH] [nchar](100) NULL,
	[sothanhvien] [int] NULL,
	[SDT] [nchar](10) NULL,
	[diachi] [nchar](100) NULL,
	[namsinhCH] [char](4) NULL,
	[Gioitinh] [nchar](10) NULL,
	[CCCD] [nchar](10) NULL,
	[MaTinh] [int] NULL,
	[MaHuyen] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangkiKD]    Script Date: 5/20/2023 12:58:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangkiKD](
	[Id] [int] NULL,
	[TenhoKD] [nchar](100) NULL,
	[MaTinh] [int] NULL,
	[MaHuyen] [int] NULL,
	[Diadiem] [nchar](100) NULL,
	[SDT] [nchar](10) NULL,
	[Email] [nchar](100) NULL,
	[Website] [nchar](100) NULL,
	[Nganhnghe] [nchar](100) NULL,
	[Von] [nchar](20) NULL,
	[Tendaidien] [nchar](100) NULL,
	[Gioitinh] [nchar](10) NULL,
	[Ngaysinh] [date] NULL,
	[CCCD] [nchar](10) NULL,
	[Quoctich] [nchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HUYEN]    Script Date: 5/20/2023 12:58:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HUYEN](
	[MaHuyen] [int] NULL,
	[TenHuyen] [nchar](50) NULL,
	[MaTinh] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KETHON]    Script Date: 5/20/2023 12:58:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KETHON](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenChong] [nchar](50) NULL,
	[CCCDChong] [nchar](10) NULL,
	[TenVo] [nchar](50) NULL,
	[CCCDVo] [nchar](10) NULL,
	[State] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHAISINH]    Script Date: 5/20/2023 12:58:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHAISINH](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Hoten] [nchar](50) NULL,
	[Gioitinh] [nchar](10) NULL,
	[Ngaysinh] [date] NULL,
	[Quequan] [nchar](50) NULL,
	[Noisinh] [nchar](50) NULL,
	[CCCDMe] [nchar](10) NULL,
	[CCCDCha] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINH]    Script Date: 5/20/2023 12:58:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINH](
	[MaTinh] [int] NOT NULL,
	[TenTinh] [nchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TTTV]    Script Date: 5/20/2023 12:58:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TTTV](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nchar](10) NULL,
	[namsinh] [char](10) NULL,
	[CCCD] [nchar](10) NULL,
	[DCthuongtru] [nchar](100) NULL,
	[DCtamtru] [nchar](100) NULL,
	[Ngayden] [date] NULL,
	[Ngaydi] [date] NULL,
	[Lido] [ntext] NULL,
	[State] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/20/2023 12:58:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] NOT NULL,
	[Username] [nchar](50) NULL,
	[Password] [nchar](50) NULL,
	[Ten] [nchar](50) NULL,
	[Namsinh] [nchar](10) NULL,
	[Gioitinh] [nchar](10) NULL,
	[Roles] [int] NULL,
	[Madiaban] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChitietHoGD] ADD  DEFAULT ((0)) FOR [TTHonnhan]
GO
ALTER TABLE [dbo].[KETHON] ADD  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[TTTV] ADD  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((2)) FOR [Roles]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD FOREIGN KEY([Madiaban])
REFERENCES [dbo].[TINH] ([MaTinh])
GO
ALTER TABLE [dbo].[ChitietHoGD]  WITH CHECK ADD FOREIGN KEY([MaHK])
REFERENCES [dbo].[Chuho] ([MaHK])
GO
ALTER TABLE [dbo].[Chuho]  WITH CHECK ADD FOREIGN KEY([MaTinh])
REFERENCES [dbo].[TINH] ([MaTinh])
GO
ALTER TABLE [dbo].[DangkiKD]  WITH CHECK ADD FOREIGN KEY([MaTinh])
REFERENCES [dbo].[TINH] ([MaTinh])
GO
ALTER TABLE [dbo].[HUYEN]  WITH CHECK ADD FOREIGN KEY([MaTinh])
REFERENCES [dbo].[TINH] ([MaTinh])
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateAdmin]    Script Date: 5/20/2023 12:58:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[USP_UpdateAdmin]
@username nchar(100), @fullname nchar(100), @password nchar(50), @newpassword nchar(50)
AS
BEGIN
	DECLARE @isRightpass int =0
	select @isRightpass = Count(*) from dbo.Admin where Username=@username and Password = @password
	IF(@isRightpass = 1)
	BEGIN
		IF(@newpassword = NULL OR @newpassword = '')
		BEGIN
			UPDATE dbo.Admin set Ten = @fullname where Username = @username
		END
		ELSE
			UPDATE dbo.Admin set Ten= @fullname , Password=@newpassword where Username=@username
	END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateUser]    Script Date: 5/20/2023 12:58:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UpdateUser]
@username nchar(100), @fullname nchar(100), @password nchar(50), @newpassword nchar(50)
AS
BEGIN
	DECLARE @isRightpass int =0
	select @isRightpass = Count(*) from dbo.ChitietHoGD where username=@username and Password = @password
	IF(@isRightpass = 1)
	BEGIN
		IF(@newpassword = NULL OR @newpassword = '')
		BEGIN
			UPDATE dbo.ChitietHoGD set Hoten = @fullname where username = @username
		END
		ELSE
			UPDATE dbo.ChitietHoGD set Hoten= @fullname , password=@newpassword where username=@username
	END
END
GO
USE [master]
GO
